{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="signin-wrapper">
    <div class="form-box">

        <h2 class="signin-title fw-bold mb-4">Connexion</h2>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="username" class="form-control signin-input mb-3"
                   placeholder="Nom d’utilisateur" required>

            <input type="password" name="password" class="form-control signin-input mb-4"
                   placeholder="Mot de passe" required>

            <button type="submit" class="signin-btn w-100">Se connecter</button>
        </form>

        <p class="mt-4 text-center signin-register">
            Pas de compte ?
            <a href="{% url 'signup' %}">Créer un compte</a>
        </p>

    </div>
</div>

{% endblock %}
