{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="signin-wrapper">
    <div class="form-box">

        <h2 class="signin-title fw-bold mb-4">Créer un compte</h2>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="username" class="form-control signin-input mb-3"
                   placeholder="Nom d’utilisateur" required>

            <input type="email" name="email" class="form-control signin-input mb-3"
                   placeholder="Adresse e-mail" required>

            <input type="password" name="password1" class="form-control signin-input mb-3"
                   placeholder="Mot de passe (min 8 caractères)" required>

            <input type="password" name="password2" class="form-control signin-input mb-4"
                   placeholder="Confirmer le mot de passe" required>

            <button type="submit" class="signin-btn w-100">Créer un compte</button>
        </form>

        <p class="mt-4 text-center signin-register">
            Déjà un compte ?
            <a href="{% url 'signin' %}">Connexion</a>
        </p>

    </div>
</div>

{% endblock %}
