{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="signin-wrapper">
    <div class="form-box">

        <h2 class="signin-title fw-bold mb-4">Connexion</h2>

        {% if messages %}
            {% for message in messages %}
                <p class="text-danger">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="signin-btn">
                Se connecter
            </button>
        </form>

    </div>
</div>

{% endblock %}
